body 
{
    margin: 0;
    padding: 0;
    background-color: black;
}
.MainLogo
{
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 200px; 
    height: auto; 
}
.navigationbar
{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    top: 20rem; 
    width: 100%;
    padding-left: 100px;
    padding-top: 50;
    font-size: 6rem;
}